.container{
    display: grid;
    height: 100vh;
    border: solid 2px rgb(0, 0, 0);
    /* background-color: silver; */
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
    "header header header header header header header header header header"
    "header header header header header header header header header header"
    "g g g g ye ye ye ye b b"
    "g g g g ye ye ye ye b b"
    "g g g g ye ye ye ye b b"
    "g g g g ye ye ye ye b b"
    "roxo roxo roxo roxo roxo roxo roxo roxo roxo roxo"
    "roxo roxo roxo roxo roxo roxo roxo roxo roxo roxo"
    "bl bl bl bl bl musgo musgo musgo musgo musgo"
    "bl bl bl bl bl musgo musgo musgo musgo musgo"
    ;
}

.box1{
    grid-area: header;
    background-color: lightblue;
}
.box2{
    grid-area: g;
    background-color: rgb(3, 255, 3);
}
.box3{
    grid-area: ye;
    background-color: yellow;
}
.box4{
    grid-area: b;
    background-color: brown;
}
.box5{
    grid-area: roxo;
    background-color: purple;
}
.box6{
    grid-area: bl;
    background-color: blue;
}
.box7{
    grid-area: musgo;
    background-color: rgb(3, 73, 3);
}