

a {
    display: flex;
    border: solid 2px black;
    height: 100px;
    width: 300px;
    border-radius: 10px 10px 10px 10px;
    background-color: blue;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 50px;
}

a:hover{
    background-color: rgb(53, 53, 227);
    color: white;
}